@font-face {
    font-family: "Vazir";
    src: url("../../fonts/Vazir.ttf") format("truetype");
}

@font-face {
    font-family: "Yekan";
    src: url("../../fonts/Yekan.ttf") format("truetype");
}